GISCUS_REPO="anlqdev/anlqdev.github.io"
GISCUS_REPO_ID="R_kgDOP6Y1ng"
GISCUS_CATEGORY="General"
GISCUS_CATEGORY_ID="DIC_kwDOP6Y1ns4CwG-m"
GISCUS_MAPPING="title"
GISCUS_STRICT="0"
GISCUS_REACTIONS_ENABLED="1"
GISCUS_EMIT_METADATA="1"
GISCUS_LANG="en"
